<!DOCTYPE html>
<html>
  <head>
    <title>Articles</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <form action="/articles" method="POST">
      <input type="text" placeholder="title" name="title" />
      <input type="text" placeholder="description" name="title" />
      <input type="text" placeholder="title" name="title" />
    </form>
  </body>
</html>
