@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;500&display=swap');
*{
  margin: 0;
  padding: 0;
}
body{
  background-color: rgba(193, 204, 235, 0.869);
  color: #080718;
  font-family: 'Baloo Thambi 2', cursive;
}
.center{
  text-align: center;
  margin-top: 5rem;
}
.center a{
  display: block;
  margin-top: 1rem;
}
button:hover{
  cursor: pointer;
}
.center button{
  width: 25%;
}
button{
    padding: 1rem;
  font-size: 1.3rem;
  background-color: bisque;
}
h3{
  padding: 1rem 0;
}
form div{
  padding: 0.5rem 0;

}
label{
  padding-right: 0.5rem;
}
input{
  padding: 0.5rem;
  width: 15rem;
}
form{
  margin-left: 1.5rem;
}

form button{
  padding: 0.5rem 1rem;
  margin-top: 1.5rem;
}
.tag{
  margin: 0.5rem;
}