<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Authors</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <header>
    <h1>Welcome to Bookstore</h1>
    <hr>
  </header>
  <br><br>
  <h3>Check All Authors...</h3>

  <% authors.forEach((author)=>{ %>
  <a href="/authors/<%= author.id %>">
    <h4>&nbsp; <%= author.name %></h4>
  </a>

  <% }) %>
  <a href="/">

    <button>Back to Homepage</button>
  </a>
</body>

</html>