<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Author Details</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <header>
    <h1>Welcome to Bookstore <%= author.name %>.....</h1>
    <hr>
  </header>
  <main>
    <br><br>
    <h3>
      Enter your Book details here...
    </h3>
    <form action="/books/<%= author.id %>" method="POST">
      <div>
        <label for="title">Title: </label>
        <input type="text" name="title" id="title" placeholder="Title..">
      </div>
      <div>
        <label for="summary">Summary: </label>
        <textarea type="text" name="summary" id="summary" placeholder="Summary..." rows="5" cols="30"></textarea>
      </div>
      <div>
        <label for="pages">Pages: </label>
        <input type="text" name="pages" id="pages" placeholder="Pages..">
      </div>
      <div>
        <label for="publication">Publication: </label>
        <input type="text" name="publication" id="Publication" placeholder="Publication..">
      </div>
      <div>
        <label for="cover">Cover Image: </label>
        <input type="text" name="cover" id="cover" placeholder="Cover Image Link....">
      </div>
      <div>
        <label for="categories">Categories: </label>
        <input type="text" name="categories" id="categories" placeholder="Categories....">
      </div>
      <button type="submit">Submit</button>
    </form>
  </main>
</body>

</html>