<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bookstore</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <header>
    <h1>Welcome To Bookstore</h1>
    <hr>
  </header>
  <main>
    <div class="center">

      <a href="/new/author">
        <button id="new">Register New Author</button>
      </a>
      <a href="/authors">
        <button>Check our Authors</button>
      </a>
      <a href="/books">
        <button>Check our Bestseller Books</button>
      </a>
    </div>

  </main>
</body>

</html>